.register-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #5f5d5d;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container-h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Merriweather Sans", sans-serif;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    text-align: left;
}

.label-input {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
    font-family: "Merriweather Sans", sans-serif;
}

.register-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.register-button {
    width: 100%;
    padding: 10px 10px;
    font-size: 1rem;
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Merriweather Sans", sans-serif;
}

.register-button:hover {
    background-color: #810000;
}

.login-text {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #ffffff;
    font-family: "Merriweather Sans", sans-serif;
}

.login-text-a {
    color: #e90101;
    text-decoration: none;
    font-family: "Merriweather Sans", sans-serif;
}

.login-text-a:hover {
    text-decoration: underline;
}