.header {
  background-color: #1f1f1f;
  padding: 20px;
  border-bottom: 2px solid #e50914;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 50px;
  margin-right: 10px;
}

.header-title {
  font-size: 2rem;
  color: #e50914;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

.nav {
  display: flex;
  margin-top: 10px;
}

.login-btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #e50914;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #92040b;
}